server:
  port: 8000

spring:
  application:
    name: cloud-consumner-order
#  datasource:
#    driver-class-name: com.mysql.jdbc.Driver
#    type: com.alibaba.druid.pool.DruidDataSource
#    url: jdbc:mysql://localhost:3306/springcloud?useUnicode=true&characterEncoding-utf-8&userSSL=false
#    username: root
#    password: root
#
#mybatis:
#  mapperLocations: classpath:mapper/*.xml
#  type-aliases-package: com.limbo.springcloud.entities  # 所有Entity别名类所在包

eureka:
  client:
    #表示是否向注册中心注册自己
    register-with-eureka: true
    #是否从EurekaServer抓取已有的祖册信息，默认为true。单点无所谓，集群必须设置为true才能配合ribbon使用负载均衡
    fetch-registry: true
    service-url:
      #设置与eureka server交互的地址查询服务和注册服务都需要依赖这个地址
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/